<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <title>Broke Bank</title> 
    </head>

    <body>
        <h1>Welcome, {{ full_name }}</h1>
        <a href="{{ url_for('logout') }}">Logout</a>
        <h3>Your Transactions:</h3>

        <form method="post">
            <input type="text" name="reference_number" placeholder="Search by reference number...">
            <br />
            <button type="submit">Search</button>
        </form>

        <table>
            <tr>
              <th>Transaction Date</th>
              <th>Reference Number</th>
              <th>Deposited</th>
              <th>Withdrawn</th>
              <th>Account</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ '%04d' % transaction[0] }}</td>
                    <td>${{ transaction[3] }}</td>
                    <td>${{ transaction[4] }}</td>
                    <td>${{ transaction[5] }}</td>
                </tr>
            {% endfor %}
          </table>
    </body>

</html>